@font-face {
      font-family: "DIN-Bold";
      src: url("http://www.brutelabs.org/files/fonts/DIN-Bold.ttf");
    }
@font-face {
      font-family: "DIN-Reg";
      src: url("http://www.brutelabs.org/files/fonts/DIN-Reg.ttf");
}
.DIN-Bold { font-family: "DIN-Bold", serif }
.DIN-Reg { font-family: "DIN-Reg", serif }
body { 
	margin: 0px; 
	background: #00B5E5;
	color: #FFFFFF;
	text-align: center;
	font-family: "DIN-Reg", serif;
	 }
.input {
	display:block;
}
#userbox {
	border:5px ridge green;
}
h1 {
	font-family: "DIN-Bold", serif;
}
a:link {
	color:#FFFFFF;
	text-decoration:underline;
	}
.translator {
	display:block;
	position:center;
}
#available_users {
	border:10px #CCCCCC;
	background-color:#FFFFFF;
	color:#00B5E5;
	display: inline-table;
}
#available_users tr.alt {
	background-color:#CCCCCC;
}
.hidden {
	visibility:hidden;
}